.bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3 {
    background-color: #fffbd2;
    color: #555555;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}