.home-item {
    padding: 30px 0;
    border-bottom: solid 1px #f5f5f5;
    cursor: pointer;

    .home-item-content {
        display: flex;

        .home-item-thumb {
            align-self: left;
            margin-right: 8px;
        }

        .home-item-description {
            align-self: right;
            font-size: 1.8rem;
            font-family: "Droid Serif", serif;
        }
    }

    .home-item-meta {
        color: #b6b6b6;
    }
}